body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.app-container {
  height: 600px;
  width: 500px;
  background: #006eff;
  border-radius: 20px;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}

.todo-list {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list form {
  display: flex;
  width: 100%;
}

.todo-list h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.todo-list input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  flex: 1;
  margin-right: 2px;
}

.todo-list button {
  width: 75px;
  height: 36px;
  padding: 8px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
}

.todo-list button:hover {
  background-color: #ffffff;
  color: #000000;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  margin-bottom: 16px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list li button {
  padding: 8px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 16px;
}

.todo-list li button:hover {
  background-color: #d32f2f;
}